extends layout.pug
include mixins/video

block content 
    h2 Welcome here u will see trending videos
    nav 
        ul  
            li 
                a(href="/videos/upload") Upload Video
    each video in videos 
        +video(video)
    else 
        li sorry nothing found